<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.sarahjohnston.museoglasgow" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ALLOW_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />

        <activity
            android:name=".PlaceActivity"
            android:label="@string/title_activity_place"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.sarahjohnston.museoglasgow.MainActivity" />
        </activity>



        <activity
            android:name=".NewsDetailActivity"
            android:label="@string/title_activity_news_detail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ReviewsActivity"
            android:label="@string/title_activity_reviews"
            android:parentActivityName=".PlaceActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.sarahjohnston.museoglasgow.PlaceActivity" />
        </activity>
        <activity
            android:name=".ReviewFormActivity"
            android:label="@string/title_activity_review_form"
            android:parentActivityName=".ReviewsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.sarahjohnston.museoglasgow.ReviewsActivity" />
        </activity>
        <activity
            android:name=".DirectionsActivity"
            android:label="@string/title_activity_directions"
            android:parentActivityName=".PlaceActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.sarahjohnston.museoglasgow.PlaceActivity" />
        </activity>
        <activity
            android:name=".DirectionsResultsActivity"
            android:label="@string/title_activity_directions_results"
            android:parentActivityName=".DirectionsActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="uk.co.sarahjohnston.museoglasgow.DirectionsActivity" />
        </activity>
    </application>

</manifest>
